.card {
  background-color:snow; /* Sky blue background for the cards */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 10px;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #555;
}
